
{% block content %}

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.column {
  
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
            
.row{
  display: grid;
  grid-column-gap: 100px;
  grid-template-columns: repeat(2, 3fr);
}

</style>
</head>
<body>

<h2>Two Equal Columns</h2>

<div class="row">
  <div class="column1" style="background-color:#aaa;">
    
  </div>
  <div class="column2" style="background-color:#bbb;">
    
  </div>
</div>



<div class="row">
        <div class="column">
                <h2>Column 1</h2>
    <p>Some text..</p>
                
        </div>

        <div class="column">
               
                <h2>Column 2</h2>
    <p>Some text..</p>
        </div>

       
      </div>


</body>
</html>


{% endblock content %}